.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    font-size: 1.6rem;

    &--asterisk {
      color: red;
    }
  }
  &__field {
    font-size: 1.4rem;
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    border: solid 1px grey;
    border-radius: 5px;
    align-items: center;
  }
}
