@use "../abstracts/index" as *;

// on white background
.input {
  @include label-input--flex;
  &__label {
    font-size: 1.6rem;
    color: $black;
  }
  &__field {
    font-size: 1.4rem;
    height: 3rem;
    width: 100%;
    background: $white;
    padding: 0 1rem;
    border: solid 1px $input_border;
    border-radius: 5px;
    align-items: center;

    &:focus {
      outline: solid 2px $primary_shade;
    }
  }
}

// on colored background

.input {
  &__label--on-color {
    color: $white;
  }
  &__field--on-color {
    border: none;
    background: $white;
  }
}
