@use "../abstracts/index" as *;

.create-review-material {
  grid-column: 2 / 2;
  width: 100%;
  align-self: center;
  height: 95%;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
    border-bottom: 2px solid $black;
    margin: 0 0 1.6rem 0;
  }
  & a {
    display: inline-block;
  }
  &__add-icon {
    display: inline-block;
    justify-self: center;
    width: 4.6rem;
    height: 4.6rem;
    &--center {
      text-align: center;
    }
  }
}

@media screen and (max-width: 1800px) {
  .create-review-material {
    height: 95%;
    &__add-icon {
      width: 4rem;
      height: 4rem;
    }
  }
}
