// Global styles
.--asterisk {
  color: red !important;
}

// colors
$primary: #48749b;
$primary_shade: #172b46;
$primary_tint: #9eb9d1;

$light_grey: #ededed;
$dark_grey: #b3b3b3;
$white: #ffffff;
$black: #000000;

$succes_green: #499b74;
$succes_light_green: #8ed2a6;
$warning_yellow: #9b7f49;
$alert_red: #d28e8e;

//borders
$input_border: $dark_grey;

// Gradients
$gradient_light: $primary;
$gradient_dark: #355673;
